include _mixins
#edit-card(hx-swap-oob="true")
.Card(
  id='card-' + card.id
  tabindex='0' 
  aria-roledescription='Draggable item. Press space bar to lift' 
  draggable='true'
  _="on mouseenter toggle .hidden on #card-edit-" + card.id + " until mouseleave"
  ) 
  .Card-Icons.hidden(id='card-edit-' + card.id)
    button.Card-Icon(type="button", hx-get="/cards/edit/" + list.id + "/" + card.id, hx-target="#card-" + card.id, hx-swap="outerHTML")
      +icon-edit()
  | #{card.label}
include _toggle-add-card

