doctype html
include _mixins
html(lang="en")
  head
    title Trello in htmx
    link(href="/styles.css", rel="stylesheet")
  body
    .App
      .Header htmx Trello Clone
      form(hx-post="/cards/move", hx-trigger="end", hx-swap="none")
        #board.Board(_="on end log event")
          each list in lists
            .List(tabindex='0' aria-roledescription='Draggable item. Press space bar to lift' draggable='true')
              .List-Title #{list.name}
              .Lists-Cards.sortable(
                id='list-' + list.id
                )
                each card in list.cards
                  .Card(
                    id='card-' + card.id
                    tabindex='0' 
                    aria-roledescription='Draggable item. Press space bar to lift' 
                    draggable='true'
                    _="on mouseenter toggle .hidden on #card-edit-" + card.id + " until mouseleave"
                    ) 
                    input(type="hidden", name='cards', value=list.id + '_' + card.id)
                    .Card-Icons.hidden(id='card-edit-' + card.id)
                      button.Card-Icon(type="button", hx-get="/cards/edit/" + list.id + "/" + card.id, hx-target="#card-" + card.id, hx-swap="outerHTML")
                        +icon-edit()
                    | #{card.label}
              include _toggle-add-card

          .Add-List
            include _new-list

  script(src="https://unpkg.com/htmx.org@1.3.1")
  script(src="https://unpkg.com/hyperscript.org@0.0.8")
  script(src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js")
  script.
      htmx.onLoad(function(content) {
          var sortables = content.querySelectorAll(".sortable");
          for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                animation: 150,
                group: 'shared',
            });
          }
      })
